html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.swiper-container {
    width: 100%;
    height: 80%;
    margin: auto;
}

.swiper-slide-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.swiper-slide-leftarea {
    display: flex;
    flex: 1 1 auto;
    padding-right: 2em;
    word-break: break-word;
    text-align: center;
}

.swiper-slide-rightarea {
    display: flex;
    flex: 1 1 auto;
    padding-left: 2em;
}

.swiper-pagination-bullet {
    background-color: rgb(58, 175, 126) !important;
    zoom: 3;
    user-select: none;
    outline: none;
}

.slide-img {
    display: flex;
    width: 240px;
    height: auto;
    margin: auto;
    filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.2));
    animation: moveAnim 1.5s ease 0s infinite alternate;
}

#phone-container {
    user-select: none;
    position: relative;
    margin: auto;
}

#phone-front {
    position: relative;
    z-index: 5;
    width: 360px;
    height: auto;
}

#phone-video {
    position: absolute;
    display: flex;
    top: 0.95em;
    left: 0.8em;
    width: 334px;
    height: auto;
}

#phone-shadow {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 400px;
    height: auto;
}

#navbar {
    z-index: 10;
    display: flex;
    position: fixed;
    margin: 0;
    padding: 1.5em 3em 1.5em 3em;
    width: calc(100% - 6em);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 0.5s;
}

#nav-menu {
    display: none;
    margin: auto;
    margin-right: 1em;
    padding: 1em;
    padding-right: 0;
    user-select: none;
    -webkit-user-select: none;
}

#nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#nav-links {
    display: flex;
    flex-direction: row;
}

.nav-link {
    display: flex;
    user-select: none;
    color: black;
    padding: 1em 2em;
    margin: auto 0.5em;
    border-radius: 0.25em;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.nav-link:hover {
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: rgb(58, 175, 126);
    color: white;
}

.nav-link:active {
    filter: brightness(0.95);
}

#navbar h1 {
    color: black;
    letter-spacing: 5px;
}

.headerScroll {
    color: black !important;
}

.headerScroll:hover {
    box-shadow: "" !important;
    background-color: white;
}

.section {
    display: flex;
    width: calc(100% - 12em);
    height: 100%;
    padding: 0 6em;
}

#section-1 {
    flex-direction: row;
    background-image: linear-gradient(to bottom, rgba(58, 175, 126,1), rgba(255, 255, 255,0));
    padding-top: 3em;
    height: calc(100% - 3em);
}

#section-2 {

}

#hero-text {
    text-align: center;
    display: flex;
    width: 50%;
    height: 100%;
}

#hero-text #hero-text-container {
    padding: 0 8em;
    margin: auto;
}

#hero-video {
    width: 50%;
    height: 100%;
    display: flex;
}

footer {
    display: flex;
    flex-direction: column;
    width: calc(100% - 12em);
    padding: 1em 6em;
    border-top: 1px solid lightgrey;
}

#footer-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-logo-toggle {
    display: flex;
    flex: 1 1 auto;
}

footer div {
    margin: auto;
    letter-spacing: 1px;
    font-stretch: condensed;
    font-size: 9pt;
    color: rgb(179, 179, 179);
}

footer div p {
    text-align: center;
    margin: 1em;
}

@media screen and (max-width: 991px) {
    html, body {
        width: 100%;
        height: auto;
    }

    .section {
        width: calc(100% - 6em);
        padding: 0 3em;
        padding-top: 1em;
    }

    #section-1 {
        display: flex;
        flex-direction: column;
    }

    .swiper-slide-container {
        flex-direction: column;
    }

    .swiper-slide-leftarea {
        padding-right: 0;
    }
    
    .swiper-slide-rightarea {
        display: block;
        padding-left: 0;
        padding-bottom: 5em;
    }

    .slide-img {
        -moz-transform: scale(0.4);
        zoom: 0.4;
    }

    #hero-text {
        text-align: center;
        display: flex;
        width: 100%;
        height: auto;
    }

    #hero-text-container {
        padding: 0 !important;
    }

    #hero-video {
        display: flex;
        flex: 1 1 auto;
        width: 100%;
        height: auto;
    }

    #phone-container {
        user-select: none;
        position: relative;
        margin: auto;
        zoom: 0.75;
        -moz-transform: scale(0.75);
        -moz-transform-origin: left center;
    }

    #navbar {
        position: relative;
        display: flex;
        margin: 0;
        background-color: white;
        padding: 0;
        width: 100%;
    }

    #nav-container {
        flex-direction: column;
    }

    #navbar h1 {
        zoom: 0.7;
        -moz-transform: scale(0.7);
        -moz-transform-origin: left center;
        letter-spacing: 1px;
        margin: 0;
        padding: 1em;
    }

    #nav-links {
        flex-direction: column;
        
    }

    .nav-link {
        display: block;
        text-align: center;
        margin: 0;
        box-shadow: '' !important;
    }

    footer {
        width: calc(100% - 4em);
        padding: 1em 2em;
    }
}
  
@-webkit-keyframes moveAnim {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes moveAnim {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}